#Counselor config file
#filtro.default=0|1 -> All|Own
#SortAllCombos=0|1 -> Off|On
#maximizeWindowOnStart = 0|1 -> normal|maximize
#minimizeMapOnStart = 0|1 -> view|hide
#saveDir =/folder/folder/, default folder to save orders (use / as opposed to \).
#loadDir =/folder/folder/, default folder to load results and orders (use / as opposed to \).
#autoLoad =/folders/file file name that you want for the Results to be loaded every time (use / as opposed to \).
#autoLoadActions =/folders/file file name for the Action that you want to be loaded every time (use / as opposed to \).
#language = en/pt/it, to define the GUI language
#splitSize = 300, define the size of the left side screen split.
#TableColumnAdjust = 0|1 -> Yes|No, adjust columns during "Load Action".
#CopyActionsPopUp = 0|1 -> Yes|No, displays a popup when copying Actions to clipboard.
#CopyActionsOrder = 0|1 -> Displays the list of actions per character.
#HexTagStyle = 0-3, changes the Hex Tag Style.
#HexTagFrame = 0|1, changes the Hex Tag Border Style (0 or 1).
#KeepPopupOpen = 0|1 -> Yes|No, open multiple hex's info popups.
#MyEmail=user@domain, define your email address.
#OverrideElimination=0|1 -> allows you to send actions past elimination.
#SendOrderConfirmationPopUp=0|1 - Show pop-up message with confirmation or not.
#SendOrderReceiptRequest=0|1 - Request site to send a confirmation receipt or not.
#ShowArmyMovPath=0|1|2 -> allows you to see all possible movement paths for an army(1) or navy(2). (0) disable it.
#MapTiles = 2d | 2a | 3d, changes the basic hex terrain tiles.
#AutoMoveNextAction = 0|1, changes the behavior entering actions. If =1, then move to next available slot.
#mail.smtp.server=smtp.myserver.com, smtp server name to be used.
#mail.smpt.port=25, smtp port to be used. Only port 25 is supported right now.
#mail.smtp.user=myuser, username for smtp authentication.
#mail.smtp.passwd=my password, password for smtp authentication
#
#
#Sun Sep 06 15:12:12 MDT 2015
#autoLoad=/tmpbm/Saves/266_GoT20c_266/041/game_266_41.jalbertnt.rr.egf
#autoLoad=/tmpbm/Saves/328_GoT12c_328/005/game_328_5.darrelllias.rr.egf
#autoLoadActions=/tmpbm/Saves/110_WarDwarfOrc110/004/orders_110_5.clanlobonegro.rc.egf
MyEmail=jmoura@shaw.ca
CopyActionsPopUp=1
language=en
loadDir=/tmpbm/saves/
#loadDir=/tmpbm/savesDebug/
doneDir=/tmpbm/Inbox/Done/
local=Unknow
saveDir=/tmpbm/Inbox/
splitSize=660
maximizeWindowOnStart=1
filtro.default=1
database=ProdTeste
minimizeMapOnStart=0
HexTagStyle=0
HexTagFrame=0
#OverrideElimination=1
#worldBuilder=1
#UploadPage=CounselorUploadTest
newUi=1
MapTiles=2b
KeepPopupOpen=0
TableColumnAdjust=1
#ImagemMar=hex_mar.png
#ImagemCosta=hex_costa.png
#ImagemLitoral=shore.png
#ImagemFloresta=woods.png
#ImagemPlanicie=planicie.png
#ImagemMontanha=mountains.png
#ImagemColinas=hills.png
#ImagemPantano=swamp.png
#ImagemDeserto=desert.png
EnableBetaFeatures=1
SortAllCombos=1