#Counselor config file
#filtro.default=0|1 -> All|Own
#SortAllCombos=0|1 -> Off|On
#maximizeWindowOnStart = 0|1 -> normal|maximize
#minimizeMapOnStart = 0|1 -> view|hide
#saveDir =/folder/folder/, default folder to save orders (use / as opposed to \).
#loadDir =/folder/folder/, default folder to load results and orders (use / as opposed to \).
#autoLoad =/folders/file file name that you want for the Results to be loaded every time (use / as opposed to \).
#autoLoadActions =/folders/file file name for the Action that you want to be loaded every time (use / as opposed to \).
#language = en/pt/it, to define the GUI language.
#splitSize = 300, define the size of the left side screen split.
#TableColumnAdjust = 0|1 -> Yes|No, adjust columns during "Load Action" of changing filters.
#TableActionColumnAdjust = 0|1 -> Yes|No, adjust Action columns during "Load Action" or changing filters.
#CopyActionsPopUp = 0|1 -> Yes|No, displays a popup when copying Actions to clipboard.
#CopyActionsOrder = 0|1 -> Displays the list of actions per character.
#HexTagStyle = 0-3, changes the Hex Tag Style.
#HexTagFrame = 0|1, changes the Hex Tag Border Style (0 or 1).
#KeepPopupOpen = 0|1 -> Yes|No, open multiple hex's info popups.
#MyEmail=user@domain, define your email address.
#OverrideElimination=0|1 -> allows you to send actions past elimination.
#SendOrderConfirmationPopUp=0|1 - Show pop-up message with confirmation or not.
#SendOrderReceiptRequest=0|1 - Request site to send a confirmation receipt or not.
#ShowArmyMovPath=0|1|2 -> allows you to see all possible movement paths for an army(1) or navy(2). (0) disable it.
#MapTiles = 2b | 2d | 2a | 3d, changes the basic hex terrain tiles.
#AutoMoveNextAction = 0|1, changes the behavior entering actions. If =1, then move to next available slot.
#mail.smtp.server=smtp.myserver.com, smtp server name to be used.
#mail.smpt.port=25, smtp port to be used. Only port 25 is supported right now.
#mail.smtp.user=myuser, username for smtp authentication.
#mail.smtp.passwd=my password, password for smtp authentication.
#drawPcPath=1
#LoadActionsBehavior=clean | append -> clear all orders before loading new orders file or just append to existing.
#LoadActionsOtherNations=deny | allow -> allows or forbids loading actions from other nations files.
#
#
#Sat Mar 18 16:07:52 MDT 2017
MapTiles=2b
CopyActionsPopUp=1
HexTagFrame=0
autoLoad=C\:\\tmpbm\\305\\030\\game_305_30.murazorgames.rr.egf
LoadActionsBehavior=append
SendOrderReceiptRequest=1
EnableBetaFeatures=1
KeepPopupOpen=0
newUi=1
LoadActionsOtherNations=allow
TableActionColumnAdjust=0
splitSize=660
HexTagStyle=0
doneDir=/tmpbm/Inbox/Done/
database=ProdTeste
minimizeMapOnStart=0
SortAllCombos=1
drawPcPath=1
local=Unknow
language=en
saveDir=C\:\\tmpbm\\Saves
loadDir=/tmpbm/saves/
ShowArmyMovPath=1
CopyActionsOrder=1
MyEmail=jmoura@shaw.ca
AutoMoveNextAction=1
filtro.default=0
SendOrderConfirmationPopUp=1
maximizeWindowOnStart=1
autoLoadActions=C\:\\tmpbm\\305\\030\\orders_305_31.murazorgames.rc.egf
worldBuilder=0
TableColumnAdjust=1
